asgiref==3.8.1
Django==5.0.3
django-auto-logout==0.5.1
django-iranian-cities==1.0.2
django-jalali-date==1.1.0
django-robots==6.1
jalali_core==1.0.0
jdatetime==5.0.0
pillow==10.3.0
psycopg==3.1.18
psycopg-binary==3.1.18
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
